body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

.order-buttons {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0, 04em;
}
button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  text-align: none;
  text-decoration: none;
  color: #2e2f42;
}

.adress-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: none;
  text-decoration: none;
  color: #434455;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
